#moda-cabecalho {
    background-color: #BB86FC;
    color: white;

}

#casa-cabecalho {
    background-color: #00C4B4;
    color: white;
}

.produtos {
    background-color: #424250;
    color: white;
    
}